<div class="flex flex-nowrap p-2 text-sm ml-auto gap-2 relative overflow-x-auto">
  <% @streams.each do |stream| %>
    <% if stream.id == @stream.id %>
      <% pill_class = "rounded-full bg-indigo-500 dark:bg-blue-500 text-white font-semibold px-3 py-1 flex-none" %>
    <% else  %>
      <% pill_class = "rounded-full bg-gray-300 dark:bg-gray-700 px-3 py-1 flex-none" %>
    <% end %>

    <%= link_to stream.name, stream_url(stream, request.query_parameters.slice(:l)), class: pill_class %>
  <% end %>
</div>

<section class="text-gray-600 body-font divide-y-2 dark:divide-dotted divide-gray-100 dark:divide-gray-700">
  <% @entries.each do |feed, feed_entries| %>
  <div class="py-1 flex flex-row flex-nowrap space-x-4 px-2">
    <div class="flex-none">
      <img class="w-8 h-8 lg:w-16 lg:h-16 rounded my-2 sticky top-2" src="<%= img_src_for_feed(feed) %>" />
    </div>

    <div class="flex-1">
      <% feed_entries.each do |entry| %>
        <%= render partial: "shared/entry", locals: { entry: entry } %>
      <% end %>
    </div>
  </div>
  <% end %>
</section>

<button id="back-to-top-button" title="Back To Top"
  class="hidden fixed z-90 bottom-8 right-8 border-0 w-12 h-12 rounded-full drop-shadow-md bg-indigo-500 dark:bg-blue-500 text-white text-3xl font-bold">&uarr;</button>
