<div class="py-1 flex flex-nowrap space-x-2 px-2">
    <div class="flex-grow space-y-1">
        <a href="<%= entry.real_uri %>" target="_blank">
            <h2 class="text-sm font-semibold text-gray-900 dark:text-white title-font"><%= entry.title %></h2>
        </a>
    </div>
</div>
