<div class="relative overflow-x-auto">
    <div class="flex p-2 flex-nowrap text-sm ml-auto text-gray-500 gap-2">
        <% @streams.each do |stream| %>
            <%= link_to stream.name, stream_url(stream), class: "rounded-full bg-blue-500 text-white font-semibold px-3 py-1 flex-none" %>
        <% end %>
    </div>
</div>

<section class="text-gray-600 body-font my-4">
    <div class="divide-y-2 divide-gray-100">
        <% @entries.each do |entry| %>
            <%= render partial: 'shared/entry_cozy', locals: { entry: entry } %>
        <% end %>
    </div>
</section>
